/* Important: Style duplication to avoid editor input exceptions */

.vditor-reset ol {
  list-style: decimal;
}

.vditor-reset ul {
  list-style: disc;
}

.vditor-reset menu {
  list-style: disc;
}

.vditor-toolbar svg {
  width: 15px;
  height: 15px;
}
